/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/* CSS RESET */
:root {
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);

  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);

  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0;

  background-color: var(--Pale-blue);

  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}

main {
  width: 730px;
  height: 510px;
  border-radius: 2rem;
  background-color: var(--White);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-container {
  width: 50%;
  height: 100%;
  border-radius: 2rem;
  padding: 2rem 0;

  background: linear-gradient(var(--Light-slate-blue),var(--Light-royal-blue));

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  color: hsla(0,0%,100%,55%);
  text-align: center;
}

.left-container h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

.left-container h4 {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
}

.score-container {
  width: 195px;
  height: 195px;
  border-radius: 50%;

  background: linear-gradient(var(--Violet-blue), var(--Persian-blue));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-container h3 {
  font-size: 4rem;
  color: #fff;
  font-weight: 800;
}

.right-container {
  width: 50%;
  height: 100%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 3rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-container button {
  width: 100%;
  height: 50px;
  border-radius: 25px;

  background-color: var(--Dark-gray-blue);
  color: var(--White);
  font-weight: 500;
  font-size: 1.1rem;
}

/* FOOTER */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
